html {scroll-behavior: smooth;}
.navbar.navbar-expand-lg .navbar-brand a img {height: 48px;}
.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link {font-family: "Inter", sans-serif;font-size: 14px;font-weight: 400;padding: 20px 15px !important;}
.hero {background: #f8f9f9;padding: 50px 0 100px;position: relative;}
.hero .explore-box {position: absolute;bottom: 100px;display: flex;flex-direction: column;align-items: center;gap: 10px;}
.hero .explore-box .bar {width: 2px;height: 64px;background: #dbab6433;position: relative;}
.hero .explore-box .bar::after {position: absolute;content: "";top: 0;left: 0;width: 100%;height:50%;background: #dbab64;animation: bounce 2s infinite;}
.hero .explore-box h5 {font-size: 12px;font-family: 'Inter';font-weight: 500;margin: 0;}
.hero .explore-box h5 a {color:#dbab64;}
.hero .hero-image .clock {margin: 0 auto;position: relative;width: 350px;height: 350px;border-radius: 50%;background: url(../img/resourses/clock-bg.png);background-position:center center;background-size:cover;backdrop-filter: blur(16px);box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);border: 2px solid rgba(255, 255, 255, 0.2);}
.hero .hero-image .clock .hand {position: absolute;bottom: 50%;left: 50%;transform-origin: bottom center;transform: rotate(0deg);border-radius: 6px;}
.hero .hero-image .clock .hand.hour {width: 6px;height: 70px;background: #333;z-index: 3;}
.hero .hero-image .clock .hand.minute {width: 4px;height: 100px;background: #444;z-index: 2;}
.hero .hero-image .clock .hand.second {width: 2px;height: 120px;background: #dbab64;z-index: 1;}
.hero .hero-image .clock .center-dot {position: absolute;top: 50%;left: 50%;width: 14px;height: 14px;background: #dbab64;border:2px solid #b17926;border-radius: 50%;transform: translate(-50%, -50%);z-index: 5;}
.hero .hero-image .clock .mark {position: absolute;width: 6px;height: 6px;background: #dbab64;border-radius: 50%;opacity: 0.6;padding: 0 !important;}
.hero .hero-image .clock .mark.mark12 {top: 12px;left: 50%;transform: translateX(-50%);width: 2px;height: 15px;}
.hero .hero-image .clock .mark.mark3 {right: 12px;top: 50%;transform: translateY(-50%);width: 15px;height: 2px;}
.hero .hero-image .clock .mark.mark6 {bottom: 12px;left: 50%;transform: translateX(-50%);width: 2px;height: 15px;}
.hero .hero-image .clock .mark.mark9 {left: 12px;top: 50%;transform: translateY(-50%);width: 15px;height: 2px;}
.hero .hero-image .clock .brand {position: absolute;left: 50%;transform: translateX(-50%);top: 20%;font-family: 'Playfair Display';color: #0a2342;font-size:18px;}
.hero .hero-content img {height: 90px;padding: 7px;border-radius: 5px;margin-bottom: 20px;background: #ffffff;}
.hero .hero-content .title {font-size: 48px;font-family: "Playfair Display", serif;line-height: 65px;color: #dbab64;margin-bottom: 15px;}
.hero .hero-content .subtitle {font-size: 24px;font-family: 'Inter';font-weight: 500;margin-bottom: 25px;}
.hero .hero-content p.desc {font-size: 15px;font-weight: 400;font-family: 'Inter';line-height: 26px;text-align: justify;color: #4b5563;}
.hero .hero-content .btn-custom {background: #0a2342;padding: 7px 20px;font-size: 14px;font-weight: 500;color: #cccccc;display: flex;align-items: center;gap: 7px;min-width:185px;min-height:42px;}
.hero .hero-content .btn-custom:hover {transform: translateY(0);box-shadow: none;}
.hero .hero-content .btn-custom2 {background: transparent;padding: 7px 20px;font-size: 14px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10,35,66,.20);min-width:185px;min-height:42px;}
.hero .hero-content .btn-custom2:hover {transform: translateY(0);box-shadow: none;background: #ffffff;border: 1px solid rgba(10,35,66,1);}
.brands {padding: 60px 0 50px;background: #fefcfa;}
.brands .subTitle {padding: 5px 12px;font-size: 12px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10, 35, 66, .20);border-radius: 20px;display: inline-flex;align-items: center;gap: 10px;margin-bottom: 15px;}
.brands .subTitle img {height: 20px;}
.brands .title {font-size: 36px;font-family: "Playfair Display", serif;line-height: 48px;color: #030712;max-width: 700px;position: relative;margin: 0 auto 20px;}
.brands .title:after {position: absolute;content: "";left: calc(50% - 35px);bottom: -15px;width: 65px;height: 4px;background: #dbab64;}
.brands p.desc {font-size: 15px;font-weight: 400;font-family: 'Inter';line-height: 28px;text-align: center;color: #4b5563;margin-bottom:0;}
.brands .brand-wraper {animation: scroll 40s linear infinite;display: flex;gap:20px;width: calc(250px * 8);}
.brands .brand-slider {height: 100px;margin: auto;overflow: hidden;position: relative;width: 100%;display:flex;gap:30px;}
.brands .brand-slider .brand-wraper .brandBx {height: 100px;width: 250px;text-align: center;display: flex;align-items:center;justify-content:center;background:#ffffff;border-radius:10px;border: 1px solid #cccccc;}
.brands .brand-slider .brand-wraper .brandBx img {height: 90px;width:auto;}
.brands .brand-box {padding: 20px;background: #ffffff;border-radius: 10px;box-shadow: 0 1px 2px 0 rgb(0, 0, 0, .05);display: flex;flex-direction: column;align-items: center;gap: 30px;text-align: center;margin-bottom: 30px;}
.brands .brand-box img {height: 90px;width:auto;}
.brands .brand-box .content h4 {font-family: 'Playfair Display';font-size: 15px;margin-bottom: 5px;}
.brands .brand-box .content span {font-size: 12px;background: #ffedda;padding: 2px 7px;border-radius: 10px;color: #dbab64;}
.brands .brand-box:hover {box-shadow: 0 4px 6px -1px rgb(0 0 0 / .1);}
.brands .swiper-controls .swiper-pagination {bottom: -10px;}
.cta {padding: 0 0 100px;background: #fefcfa;}
.cta .cta-area {background: #0a2342;padding: 50px;border-radius: 10px;display: flex;align-items: center;justify-content: space-between;gap: 120px;}
.cta .cta-area .left-box h3 {font-size: 30px;font-family: 'Playfair Display';color: #ffffff;font-weight: 600;margin-bottom: 10px;}
.cta .cta-area .left-box p {font-size: 15px;font-weight: 400;font-family: 'Inter';color: #cccccc;margin-bottom: 0;}
.cta .cta-area .right-box .btn-custom {background: transparent;padding: 7px 20px;font-size: 14px;font-weight: 500;color: #ffffff;border: 1px solid #dbab6480;display: flex;align-items: center;gap: 7px;}
.cta .cta-area .right-box .btn-custom:hover {transform: translateY(0);box-shadow: none;background: #dbab6433;}
.service {padding:100px 0;background: #0a2342;}
.service .subTitle {padding: 5px 12px;font-size: 12px;font-weight: 500;color: #f2d6a2;background: #ffffff1a;border: 1px solid #dbab644d;border-radius: 20px;display: inline-flex;align-items: center;gap: 10px;margin-bottom: 15px;}
.service .subTitle img {height: 20px;}
.service .title {font-size: 36px;font-family: "Playfair Display", serif;line-height: 48px;color: #ffffff;max-width: 700px;position: relative;margin: 0 auto 20px;}
.service .title:after {position: absolute;content: "";left: calc(50% - 35px);bottom: -15px;width: 65px;height: 4px;background: #dbab64;}
.service .lead {color: #eeeeee;font-size: 15px;font-weight:400;font-family: 'Inter';margin-bottom:0;}
.service .service-box {background: #2f455f;border: 1px solid #58697e;border-radius: 8px;transition: all .3s;cursor: pointer;}
.service .service-box figure {width:100%;height: 220px;}
.service .service-box figure img {width:100%;height: 100%;object-fit: cover;border-radius: 7px 7px 0 0;}
.service .service-box:hover {background: #ffffff40;}
.service .service-box .inner {padding: 20px;}
.service .service-box .inner figcaption {min-height: 150px;}
.service .service-box .inner h4 {font-size: 20px;font-family: 'Playfair Display';color: #ffffff;margin-bottom: 10px;min-height: 60px;}
.service .service-box .inner p {font-size: 14px;line-height: 24px;color: #eeeeee;margin-bottom: 10px;min-height:145px;}
.service .service-box .inner a {display: flex;align-items: center;gap: 10px;font-size: 14px;color: #f2d6a2;cursor: pointer;}
.service .service-box .inner a:hover {gap:20px;color: #ffffff;}
.service .btn-box a {background: #dbab64;padding: 9px 20px;font-size: 14px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10,35,66,.20);border-radius: 8px;}
.repairs {background: #ffffff;padding: 100px 0 50px;}
.repairs .subTitle {padding: 5px 12px;font-size: 12px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10, 35, 66, .20);border-radius: 20px;display: inline-flex;align-items: center;gap: 10px;margin-bottom: 15px;}
.repairs .subTitle img {height: 20px;}
.repairs .title {font-size: 36px;font-family: "Playfair Display", serif;line-height: 48px;color: #030712;max-width: 700px;position: relative;margin: 0 auto 20px;}
.repairs .title:after {position: absolute;content: "";left: calc(50% - 35px);bottom: -15px;width: 65px;height: 4px;background: #dbab64;}
.repairs .lead {font-size: 16px;font-weight: 400;line-height:28px;font-family: 'Inter';margin-bottom: 0;}
.repairs .repairs-box {display: flex;flex-direction: row;margin-bottom: 30px;}
.repairs .repairs-box .image-box {width: 40%;min-width: 40%;}
.repairs .repairs-box .image-box img {width: 100%;height: 100%;border-top-left-radius: 0.4rem;border-bottom-left-radius: 0.4rem;}
.repairs .repairs-box .content-box {padding: 30px;}
.repairs .repairs-box .content-box h4 {font-size: 20px;font-family: 'Playfair Display';margin-bottom: 10px;line-height: 1.25;font-weight: 600;color: #0a2342;}
.repairs .repairs-box .content-box p {font-size: 15px;font-family: 'Inter';font-weight: 400;margin: 0 0 10px 0;;}
.repairs .repairs-box .content-box a {display: flex;align-items: center;gap: 5px;color: #104572;}
.process {background: #ffffff;padding: 0px 0 100px;}
.process .process-wraper {padding: 30px;}
.process .process-wraper .title {font-size: 24px;font-family: 'Playfair Display';font-weight:600;color: #0a2342;margin-bottom: 20px;}
.process .process-wraper .process-box {display: flex;flex-direction: row;gap: 20px;margin-bottom: 20px;}
.process .process-wraper .process-box:nth-child(5) {margin-bottom: 0;}
.process .process-wraper .process-box .icon {width: 35px;min-width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;background: #0a2342;border-radius: 100%;}
.process .process-wraper .process-box .icon span {font-size: 14px;font-family: 'Inter';font-weight: 600;color: #ffffff;}
.process .process-wraper .process-box .content h4 {font-size: 18px;font-family: 'Inter';font-weight: 500;line-height: 1;margin-bottom: 5px;}
.process .process-wraper .process-box .content p {font-family: 'Inter';font-size: 15px;font-weight: 400;line-height: 24px;margin: 0;}
.process .process-wraper .promise-box {padding: 30px;background: #0a2342;border-radius: 10px;}
.process .process-wraper .promise-box .title {font-size: 20px;font-family: 'Playfair Display';font-weight:600;color: #ffffff;margin-bottom: 10px;}
.process .process-wraper .promise-box p {font-family: 'Inter';font-size: 15px;font-weight: 400;line-height: 24px;margin: 0;color: #eeeeee;}
.process .process-wraper .promise-box hr {margin: 20px auto;}
.process .process-wraper .promise-box .progress-list li {margin-bottom: 15px;display: flex;align-items: center;justify-content: space-between;}
.process .process-wraper .promise-box .progress-list li .progressbar-text {display: none;}
.process .process-wraper .promise-box .progress-list li .progressbar.bg-custom svg path:last-child{stroke: #dbab64;}
.process .process-wraper .promise-box a {display: block;text-align: center;background: #ffffff;padding: 7px 20px;border-radius: 8px;font-weight: 500;color: #0a2342;}
.choose-us {padding:100px 0;background: #0a2342;}
.choose-us .subTitle {padding: 5px 12px;font-size: 12px;font-weight: 500;color: #f2d6a2;background: #ffffff1a;border: 1px solid #dbab644d;border-radius: 20px;display: inline-flex;align-items: center;gap: 10px;margin-bottom: 15px;}
.choose-us .subTitle img {height: 20px;}
.choose-us .title {font-size: 36px;font-family: "Playfair Display", serif;line-height: 48px;color: #ffffff;max-width: 700px;position: relative;margin: 0 auto 20px;}
.choose-us .title:after {position: absolute;content: "";left: calc(50% - 35px);bottom: -15px;width: 65px;height: 4px;background: #dbab64;}
.choose-us .lead {color: #eeeeee;font-size: 15px;font-weight: 400;line-height: 28px;font-family: 'Inter';margin-bottom: 0;}
.choose-us .choose-box {background: #2f455f;border: 1px solid #58697e;border-radius: 8px;transition: all .3s;cursor: pointer;padding: 20px;min-height: 250px;}
.choose-us .choose-box:hover {background: rgba(255,255,255,.25);}
.choose-us .choose-box .icon {background: #dbab6433;width: 60px;height: 60px;border-radius: 100%;display: flex;align-items: center;justify-content: center;margin-bottom: 20px;}
.choose-us .choose-box .icon svg {color: #f2d6a2;}
.choose-us .choose-box h4 {font-size: 20px;line-height: 30px;font-family: 'Playfair Display';font-weight: 600;color: #ffffff;margin-bottom: 15px;min-height:60px;}
.choose-us .choose-box p {font-family: 'Inter';font-size: 14px;font-weight: 400;line-height: 24px;margin: 0;color: #eeeeee;min-height: 265px;}
.choose-us .customers-box {background: #233955;border: 1px solid #40546c;padding: 50px;border-radius: 10px;margin-top: 60px;}
.choose-us .customers-box .left-box {margin-right: 35px;}
.choose-us .customers-box .left-box h3 {font-size: 26px;font-family: 'Playfair Display';font-weight: 500;line-height: 1;margin-bottom: 15px;color: #ffffff;}
.choose-us .customers-box .left-box p {font-size: 15px;font-weight: 400;font-family: 'Inter';line-height: 24px;color: #eeeeee;margin-bottom: 20px;}
.choose-us .customers-box .left-box .quote-box {border: 1px solid #2e445e;padding: 20px;border-radius: 10px;background: #19314d;}
.choose-us .customers-box .left-box .quote-box .top-box {display: flex;align-items: center;justify-content: space-between;margin-bottom: 20px;}
.choose-us .customers-box .left-box .quote-box .top-box .info {display: flex;align-items: center;justify-content: space-between;gap:20px;}
.choose-us .customers-box .left-box .quote-box .top-box .info .image {height: 40px;width: auto;}
.choose-us .customers-box .left-box .quote-box h5 {font-size: 15px;font-weight: 400;font-family: 'Inter';line-height: 24px;color: #eeeeee;margin-bottom: 0px;}
.choose-us .customers-box .left-box .swiper-controls .swiper-pagination {bottom: -35px;}
.choose-us .customers-box .left-box .quote-box p  {font-size: 15px;font-weight: 300;font-style: italic;font-family: 'Inter';line-height: 24px;color: #eeeeee;margin-bottom: 0;height: 90px;overflow-y: scroll;margin-right: 10px;}
.choose-us .customers-box .left-box .quote-box p::-webkit-scrollbar {width: 6px;}
.choose-us .customers-box .left-box .quote-box p::-webkit-scrollbar-track{box-shadow: inset 0 0 2px #191919;border-radius: 3px;background: rgba(255,255,255,.65);}
.choose-us .customers-box .left-box .quote-box p::-webkit-scrollbar-thumb {background: #dbab64;border-radius: 3px;}
.choose-us .customers-box .right-box {background: #19314d;border:1px solid #2e445e;padding: 24px;border-radius: 8px;}
.choose-us .customers-box .right-box .rating {display: flex;align-items: center;justify-content: space-between;margin-bottom: 20px;}
.choose-us .customers-box .right-box .rating img {height:48px;}
.choose-us .customers-box .right-box .rating .stars {padding: 0;margin:0;list-style:none;display: flex;align-items: center;gap:5px;}
.choose-us .customers-box .right-box .rating .stars li i {font-size: 20px;color: #f2d6a2;}
.choose-us .customers-box .right-box .rating span {font-size: 15px;color: #000000;font-family: 'Inter';background: #dbab64;padding: 3px 12px;border-radius: 3px;display: block;}
.choose-us .customers-box .right-box .rating small {text-align: center;display: block;margin-top: 5px;color: #eeeeee;font-size: 14px;}
.choose-us .customers-box .right-box .progress-list li {margin-bottom: 10px;display: flex;align-items: center;justify-content: space-between;}
.choose-us .customers-box .right-box .progress-list li p {margin-bottom: 0;font-family: 'Inter';color: #eeeeee;font-size: 15px;font-weight: 400;}
.choose-us .customers-box .right-box .progress-list li .progressbar-text {display: none;}
.choose-us .customers-box .right-box .progress-list li .progressbar.bg-custom svg path:last-child{stroke: #dbab64;}
.choose-us .customers-box .right-box hr {margin: 20px auto;}
.choose-us .customers-box .right-box a {display: flex;align-items: center;gap: 5px;color: #dbab64;font-size: 15px;}
.contact-us {padding:100px 0;}
.contact-us .subTitle {padding: 5px 12px;font-size: 12px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10, 35, 66, .20);border-radius: 20px;display: inline-flex;align-items: center;gap: 10px;margin-bottom: 15px;}
.contact-us .subTitle img {height: 20px;}
.contact-us .title {font-size: 36px;font-family: "Playfair Display", serif;line-height: 48px;color: #030712;max-width: 700px;position: relative;margin: 0 auto 20px;}
.contact-us .title:after {position: absolute;content: "";left: calc(50% - 35px);bottom: -15px;width: 65px;height: 4px;background: #dbab64;}
.contact-us .lead {font-size: 16px;font-family: 'Inter';}
.contact-us .map-box iframe {border-radius: 10px;}
.contact-us .contat-box {margin-left: 65px;padding: 35px;}
.contact-us .contat-box .heading {font-size: 24px;font-family: 'Playfair Display';color: #0a2342;font-weight: 600;margin-bottom: 20px;}
.contact-us .contat-box .item {display: flex;flex-direction: row;gap: 20px;margin-bottom: 20px;}
.contact-us .contat-box .item .icon {width:40px;min-width:40px;height:40px;background: rgba(219, 171, 100, 0.1);color: #dbab64;display: flex;align-items: center;justify-content: center;border-radius: 100%;}
.contact-us .contat-box .item .content h5 {font-size: 18px;font-family: 'Inter';font-weight: 500;line-height: 1;margin-bottom: 5px;}
.contact-us .contat-box .item .content p {font-size: 15px;font-family: 'Inter';font-weight: 400;color: #60697b;margin-bottom: 0;}
.contact-us .contat-box .item .content p a {font-size: 15px;font-family: 'Inter';font-weight: 400;color: #60697b;margin-bottom: 0;}
.contact-us .contat-box .item.last {margin-bottom: 0;}
.contact-us .contat-box hr {margin: 20px 0;}
.contact-us .contat-box h5 {font-size: 18px;font-family: 'Inter';font-weight: 500;line-height: 1;margin-bottom: 15px;}
.contact-us .contat-box .social a {width: 40px;height: 40px;display: flex;align-items: center;justify-content: center;background: #0a2342;border-radius: 100%;color: #ffffff;}
.contact-us .contat-box .social a svg {height: 18px !important;}
.contact-us .contat-box p {font-family: 'Inter';display: flex;align-items: center;justify-content: space-between;font-size: 14px;margin-bottom: 0;}
.contact-us .btn-box a {background: #dbab64;padding: 9px 20px;font-size: 14px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10, 35, 66, .20);border-radius: 8px;transition: all .3s;transform: scale(1);}
.contact-us .btn-box a:hover {transform: scale(1.5);}
.footer {background: #0a2342;padding: 50px 0;}
.footer .footer-logo {display: flex;gap:10px;align-items: center;}
.footer .footer-logo svg {color: #dbab64;}
.footer .footer-logo span {font-size: 24px;font-family: 'Playfair Display';font-weight: 600;color: #ffffff;}
.footer .footer-nav ul {margin-top: 0;margin-bottom: 0;padding: 0;list-style: none;display: flex;align-items: center;justify-content: end;gap: 50px;}
.footer .footer-nav ul li a {font-family: "Inter", sans-serif;font-size: 14px;font-weight: 300;color: #ffffff;}
.footer hr {margin: 30px 0;}
.footer .footer-copy p {font-size: 14px;color: #ffffff99;font-weight: 300;margin: 0;}
.footer .up-btn {display: flex;align-items: center;justify-content: space-between;}
.footer .up-btn .nav.social {gap: 10px;}
.footer .up-btn .nav.social a {background: #233955;width: 35px;height: 35px;display: flex;align-items: center;justify-content: center;border-radius: 100%;}
.footer .up-btn .nav.social a i {font-size:14px;}
.footer .up-btn a {font-size: 14px;color: #ffffff99;font-weight: 300;margin: 0;}

.floatdBx {bottom: 50px;left: 15px;z-index: 99;opacity: 1;position: fixed;display:flex;flex-direction:column;gap:20px;}
.floatdBx a {display: block;width: 45px;height: 45px;text-align: center;line-height: 45px;background: #ffffff;box-shadow: 0 0 4px #cccccc;border-radius: 100%;}
.floatdBx a i.bi-whatsapp {font-size: 24px;color: #4ec360;}
.floatdBx a i.bi-telephone {font-size: 24px;color: #001970;}

.page-title .title {font-size: 36px;font-family: "Playfair Display", serif;line-height: 54px;color: #030712;margin-bottom: 20px;text-transform: uppercase;}
.page-title  p {font-size: 16px;font-weight: 500;font-family: 'Inter';line-height: 30px;text-align: justify;color: #282828;margin-bottom: 0;}

.repairs .btn-box a {background: #dbab64;padding: 9px 20px;font-size: 14px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10, 35, 66, .20);border-radius: 8px;}

.instragram {padding:60px 0 90px;background:#f9f9f9;}
.instragram .subTitle {padding: 5px 12px;font-size: 12px;font-weight: 500;color: #0a2342;border: 1px solid rgba(10, 35, 66, .20);border-radius: 20px;display: inline-flex;align-items: center;gap: 10px;margin-bottom: 15px;}
.instragram .title {font-size: 36px;font-family: "Playfair Display", serif;line-height: 48px;color: #030712;max-width: 700px;position: relative;margin: 0 auto 20px;}
.instragram .title:after {position: absolute;content: "";left: calc(50% - 35px);bottom: -15px;width: 65px;height: 4px;background: #dbab64;}
.instragram .lead {font-size: 16px;font-weight: 400;line-height: 28px;font-family: 'Inter';margin-bottom:0;}
.instragram .item img {width:100%;height:520px !important;object-fit:cover;}
.instragram .swiper-slide .item figure {width: 100%;height: 100%;}
.instragram .swiper-slide .item figure video {width: 100%;height: 100%;border-radius:10px;}
.instragram .swiper-slide .item figure.overlay span.bg {width: 100%;height: 100%;border-radius:10px;}
.glightbox-clean .gclose:after {font-family: bootstrap-icons !important;content: "\f62a";}
.glightbox-clean .gprev:before {font-family: bootstrap-icons !important;content: "\f12f";}
.glightbox-clean .gnext:before {font-family: bootstrap-icons !important;content: "\f138";}
.btn-custom {background: #0a2342;padding: 7px 20px;font-size: 14px;font-weight: 500;color: #cccccc;display: inline-flex;align-items: center;gap: 7px;}
.btn-custom:hover {transform: translateY(0) !important;box-shadow: none !important;background: #0a2342;color: #cccccc;}

.wrapper.page-title {background: #fff6d9;}
.wrapper.page-title .image-box img {width:100%;}
.wrapper.page-title .text-box {padding: 0 120px;}

@keyframes scroll {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	100% {
		-webkit-transform: translateX(calc(-250px * 7));
		transform: translateX(calc(-250px * 7));
	}
}


@keyframes bounce {
	0%, 100% {
    	transform: translateY(-25%);
    	animation-timing-function: cubic-bezier(.8,0,1,1);
	}
	50% {
	    transform: none;
	    animation-timing-function: cubic-bezier(0,0,.2,1);
	}
}

/********* animation css style work start *********/
@media screen and (max-width:650px) {
  .scroll-container,.scroll-container:nth-of-type(2n){flex-direction:column;align-content:inherit}
  .scroll-element{height:100%}
  .scroll-caption,.scroll-element{width:100%}
}
.js-scroll{opacity:0;transition:opacity .5s}
.js-scroll.scrolled{opacity:1}
.scrolled.fade-in{animation:1s ease-in-out both fade-in}
.scrolled.fade-in-top{animation:1s ease-in-out both fade-in-top}
.scrolled.fade-in-bottom{animation:1s ease-in-out both fade-in-bottom}
.scrolled.slide-left{animation:1s ease-in-out both slide-in-left}
.scrolled.slide-right{animation:1s ease-in-out both slide-in-right}

@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-in-top {
  0% {
    -webkit-transform: translateY(-50px);
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fade-in-bottom {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(100%));
	}
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/********* animation css style work end *********/
@media screen and (min-device-width: 1366px) and (max-device-width: 1920px) {
    .service .service-box .inner h4 {min-height: auto;}
	.service .service-box .inner p {min-height: 125px;}
	.choose-us .choose-box p {min-height: 200px;}
}

@media (max-width: 767px){
	.btn-close:before {font-family: bootstrap-icons!important;content: "\f62a";}
	.navbar.navbar-expand-lg .navbar-nav .nav-item .nav-link{padding: 10px 15px !important;}
	.hero {padding: 60px 0;}
	.hero .explore-box {display: none;}
	.hero .hero-content .subtitle {font-size: 20px;line-height: 30px;margin-bottom: 20px;}
	.hero .hero-content .title {font-size: 30px;line-height: 42px;}
	.hero .hero-content p.desc {font-size: 16px;}
	.hero .hero-content .d-flex {flex-direction:column;}
	.hero .hero-content .btn-custom {display:flex;width:100%;margin-bottom: 10px;}
	.hero .hero-content .btn-custom2 {display:flex;width:100%;}
	.hero .hero-image .clock {margin: 50px auto 0;width:320px;height:320px;}
	.cta .cta-area {padding: 20px;flex-direction: column;gap: 30px;align-items: flex-start;}
	.cta {background: transparent;}
	.cta .cta-area .left-box h3 {font-size: 24px;}
	.cta .cta-area .left-box p {font-size: 14px;}
	.service .service-box {margin-bottom: 30px;}
	.repairs .repairs-box {display: flex;flex-direction: column;}
	.repairs .repairs-box .image-box {width: 100%;min-width: 100%;}
	.repairs .repairs-box .image-box img {border-radius: 0.4rem;}
	.process .process-wraper .process-box:nth-child(5) {margin-bottom: 30px;}
	.choose-us .choose-box {min-height: auto;margin-bottom: 30px;}
	.choose-us .customers-box {padding: 20px;margin-top: 30px;}
	.choose-us .customers-box .left-box {margin-right: 0;}
	.choose-us .customers-box .left-box h3 {font-size: 24px;line-height: 36px;}
	.choose-us .customers-box .right-box {margin-top: 30px;padding:15px;}
	.contact-us .contat-box {margin-left: 0;padding: 25px;margin-top: 30px;}
	.footer .footer-logo {margin-bottom: 20px;}
	.footer .footer-nav ul {flex-wrap:wrap;justify-content: center;gap: 20px;}
	.footer .footer-copy p {text-align: center;margin-bottom: 10px;}
	.footer .up-btn {justify-content: center;}
	.brands .brand-box img {height: 65px;}
	.page-title .title {font-size: 20px;line-height: 36px;margin-bottom: 10px;}
	.page-title p {font-size: 15px;font-weight: 400;line-height: 28px;}
	.brands .brand-slider {width: 100%;}
	.choose-us .customers-box .right-box .rating img {height: 42px;}
	.choose-us .customers-box .right-box .rating .stars li i {font-size: 14px;}
	.choose-us .customers-box .right-box .rating span {font-size: 14px;padding: 3px 10px;}
	.wrapper.page-title .text-box {padding: 50px 20px;}
	.choose-us .choose-box h4 {min-height: auto;}
	.choose-us .choose-box p {min-height: auto;}
	.service .service-box .inner h4 {min-height: auto;}
	.service .service-box .inner p {min-height: auto;}
}